:host{
  max-width: 360px;
  margin: 320px auto 50px;
  text-align: left;
  display: block;
}
.text404{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
color: #828282;
}
.img404{
  width: 100px;
  height: auto;
  margin-right: 25px;
}
